@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.hanken-grotesk-medium {
                   font-family: "Hanken Grotesk", sans-serif;
                   font-optical-sizing: auto;
                   font-weight: 500;
                   font-style: normal;
                 }

html, body {
  font-family: 'Hanken Grotesk', serif;
}
